<?xml version="1.0" encoding="utf-8" ?>

<!--  WorkingFilesList
      Visual Studio extension tool window that shows a selectable list of files
      that are open in the editor
      Copyright(C) 2016 Anthony Fung
      
      This program is free software: you can redistribute it and/or modify
      it under the terms of the GNU General Public License as published by
      the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.
      
      This program is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
      GNU General Public License for more details.
      
      You should have received a copy of the GNU General Public License
      along with this program. If not, see<http://www.gnu.org/licenses/>. -->

<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkingFilesList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WorkingFilesList.Properties.Settings>
            <setting name="PathSegmentCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectedSortOptionName" serializeAs="String">
                <value>A-Z</value>
            </setting>
        </WorkingFilesList.Properties.Settings>
    </userSettings>
</configuration>